TIDB_HOST=gateway01.ap-southeast-1.prod.aws.tidbcloud.com
TIDB_PORT=4000
TIDB_USER=your_tidb_user
TIDB_PASSWORD=your_tidb_password
TIDB_DATABASE=DB_Employee
DATABASE_SSL=true

DATABASE_URL=mysql+pymysql://${TIDB_USER}:${TIDB_PASSWORD}@${TIDB_HOST}:${TIDB_PORT}/${TIDB_DATABASE}?charset=utf8mb4
REDIS_URL=redis://redis:6379/0

MINIO_ENDPOINT=minio:9000
MINIO_ACCESS_KEY=admin
MINIO_SECRET_KEY=password123
MINIO_BUCKET=deepface-media

QDRANT_URL=http://qdrant:6333
QDRANT_COLLECTION=face_embeddings
VECTOR_SIZE=512
MATCH_THRESHOLD=0.45

PUBLIC_API_BASE_URL=http://localhost:18000
