node_modules/
dist/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
.pytest_cache/
.mypy_cache/
.ruff_cache/
.vscode/settings.json
backup/*
!backup/cron/
!backup/cron/**
!backup/db/
!backup/db/.gitkeep
!backup/minio/
!backup/minio/.gitkeep
!backup/qdrant/
!backup/qdrant/.gitkeep
backup-s3/
logs/
scripts/backup-s3.env
.env
