fastapi
uvicorn
pydantic
pymysql
python-multipart
qdrant-client
sqlalchemy
redis
minio
pillow
numpy
cryptography
opencv-python-headless
torch
torchvision
ultralytics
tensorflow
tf-keras
deepface
h5py
