fastapi==0.115.6
uvicorn==0.32.1
pydantic==2.10.3
pymysql==1.1.1
python-multipart==0.0.19
qdrant-client==1.12.1
sqlalchemy==2.0.36
redis==5.2.1
minio==7.2.12
pillow==11.0.0
numpy==1.26.4
cryptography==44.0.0
